// sets nav background color
$nav-color: dimgray;

// sets accent color for text and divs
$accent-color: tomato;

// sets default background color
$bg-color: whitesmoke;
$body-color: white;

// sets error colors
$error-color: red;
$error-bg-color: pink;

// sets alternating bg colors for results lines
$odd-bg-color: gray;
$even-bg-color: darkgray;

body {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

nav {
	background: $nav-color;
	font-size: 1em;
	padding: 0;
	top: 0;
	left: 0;
	width: 100%;
	margin-bottom: 1em;

	ul {
		padding: 0 1em 0 1em;
		// margin-bottom: 1em;

		li {
			list-style-type: none;
			display: inline;
			color: $body-color;

			a {
				text-decoration: none;
				color: $body-color;
			}

			a:visited {
				color: $body-color;
				text-decoration: none;

			}

			a:hover {
				color: $accent-color;
				text-decoration: none;
			}
		}

		li:not(:last-child) {
			margin-right: .25em;
		}
	}


}

.hidden {
	visibility: hidden;
}

.display-none {
	display: none;
}

#song-options-div {
	padding: 1em;
	margin: 0 1em;
	background: $bg-color;
}

#add-music {
	// padding: 1em;
	// background: $bg-color;
	// margin: 0 auto;
}

#add-music > div:nth-of-type(2n+1) {
	background: $body-color;
}

.add-music-input {
	background: $bg-color;
	padding: 1em;
	margin: 0 1em;
}

#add-music button {
	margin: 0 auto;
	text-align: center;
}

#add-music label {
	margin-bottom: 1em;
	text-align: center;
}

#form-add-button {
	background: $body-color;
	border: thin solid $accent-color;
	outline-color: $accent-color;
	color: $accent-color;
}

#error-message {
	color: $error-color;
	padding: 1em;
	margin-top: 1em;
	background: $error-bg-color;
	text-align: center;
}

#genre-title {
	margin: .5em;
}

#results {
	background: $bg-color;
	padding: 1em;
	margin: 0 1em;
}

.song-result {
	padding: .25em .5em;
}

.song-name {
	font-size: 2em;
	color: $bg-color;
	margin: 0 0 .25em;
}

.song-result:not(:last-child) {
	margin-bottom: .5em;
}

#results .song-result:nth-of-type(2n+1) {
	background: $odd-bg-color;
}

#results .song-result:nth-of-type(2n+0) {
	background: $even-bg-color;
}

#results .song-result:first-child {
	font-weight: bold;
	background: $accent-color;
}

.results-divider {
	margin: 0 .5em;
}

.delete {
	margin-left: 1em;
	font-size: .75em;
	background: $bg-color;
	color: $error-color;
	border: 1px solid $error-color;
	text-align: center;
	vertical-align: top;
  width: 2em;
  height: 2em;
  line-height: .75em;
}

.more {
	background: $body-color;
	color: $accent-color;
	border: 1px solid $accent-color;
	font-size: .75em;
	outline-color: $accent-color;
}

label {
	font-weight: normal;
}

.smaller-margin {
	display: block;
	margin-top: 0;
	margin-bottom: .125em;
}

.smaller-margin input[type=checkbox] {
	margin-right: .25em;
	vertical-align: top;
}

/*.bordered {
	border: .125em solid black;
	margin: .5em; 
	box-sizing: border-box;
	border-radius: .25em;
}*/

.displayblock {
	display: block;
	/*margin: .25em 0; */
}

.results-line {
	margin-bottom: 2em;
	color: $body-color;
	/*-webkit-flex-direction: row; */
}

select {
	font-size: 1em;
	border-color: #999;
	width: 100%;
}

input[type=text] {
	font-size: 1em;
	/*margin-left: .5em;*/
	/*outline: thin solid tomato;*/
	border: thin solid $accent-color;
	outline-color: $accent-color;
	/*outline-width: thick;*/
}

input[type=text]:focus {
	color: $accent-color;
}

input[type=range] {
	width: 100%;
}

button {
	font-size: 1em;
}

.center {
	margin: auto;
}

.test {
	background: blue;
}

.add-music-label {
	/*letter-spacing: 1em;*/
	font-size: 1.5em;
	text-align: center;
	font-weight: lighter;
	/*color: tomato;*/
}

/*@media screen and (max-width: 750px), screen and (max-device-width: 700px) {
	#song-options-div {
		box-sizing: border-box;
		margin: 0 1em;
		float: none;
		font-size: 3em;
	}

	#song-options-div input[type=checkbox] {
		transform: scale(3, 3);
		margin-right: 2em;
	}

	#results {
		margin: 1em 0 0 0;
		clear: both;
		width: 100%;
		box-sizing: border-box;
		font-size: 3em;
	}

	nav ul {
		text-align: center;
		margin: .5em auto;
		font-size: 3em;
		padding: 0;
	}

	#add-music {
		font-size: 3em;
		/*width: auto;
		margin: 0 1em;
	}

	.delete {
		font-size: .75em;
	}
}*/