<div id="add-music" class="bordered">
  <label class="displayblock">Song:<input name="song-name-input" type="text" id="song-name-input" ng-model="newSong.title"></label>
  <label class="displayblock">Artist:<input name="artist-name-input" type="text" id="artist-name-input" ng-model="newSong.artist"></label>
  <label class="displayblock">Album:<input name="album-name-input" type="text" id="album-name-input" ng-model="newSong.album"></label>
  <button class="displayblock" name="add" id="form-add-button" ng-click="addSong()">Add</button>
  <div id="error-message" class="display-none"></div>
</div>
