/*Using your new CSS skills, you'll build even better looking music history pages.

1. Use the Flexible Layout Box model to ensure that both the form section and the content section are the same height.
2. The entire container for the even songs (plus its details) should have a background color of Sea Shell 
(SeaShell or #FFF5EE)
3. The entire container for the odd songs (plus its details) should have a background color of Mint Cream 
(MintCream or #F5FFFA)
4. The first song container should have bold text.
5. Set the navigation bar's position so that it's always on the top of the page, even if you scroll down. 
To ensure this works, you can just add some div tags at the bottom of the page that add enough text that
would force you to scroll the browser.
*/
body {
	font-family: sans-serif;
}

#flex-container {
	margin-top: 3%;
}

#navigation {
	position: fixed;
	top: 0;
	left: 0;
	/*width: 61.25em;*/
}

nav {
	background: gray;
	padding: 0;
	/*flex: 1 100%;*/
	top: 0;
	left: 0;
	width: 98%;
}

nav ul li {
	list-style-type: none;
	display: inline;
}

/*nav ul li:nth-of-type(2n + 0) {
	font-size: 1.5em;
}*/

nav ul li a {
	text-decoration: none;
	color: white;
}

.hidden {
	visibility: hidden;
}

.display-none {
	display: none;
}

#songs-and-options {
	/*flex: 1 100%;*/
	width: 400px;
} 

#song-options-div {
	/*flex-grow: 1;*/
	width: 300px;
	float: left;
	padding: 1em;
	background: #4DD7FA;
}

#add-music {
	padding: 1em;
	background: #F0F0F0;
}

/*.form-style {
	background: #4DD7FA;
	 width: 15%; 
	width: 14em;
	float: left;
	padding: 1em;
	height: 16em;
	
	padding: 1em;
}*/

/*.form-style * {
	padding: 1em 0;
}*/

/* .overflow {
	overflow: hidden;
} */

#genre-title {
	margin: .5em;
}

/*.submit {
	font-size: 2em;
	margin: 2.5em 0 0; 
	color: black;
}*/

#results {
	background: #FEFAC0;
	/*flex-grow: 2;*/
	/*width: 600px;*/
	padding: 1em;
	float: left;
	/*float: left;
	padding: 1%;
	width: 60%;*/
}

.song-result:not(:last-child) {
	margin-bottom: 1em;
}

#results .song-result:nth-of-type(2n+1) {
	background: mintcream;
}

#results .song-result:nth-of-type(2n+0) {
	background: seashell;
}

#results .song-result:first-child {
	font-weight: bold;
}

.song-name {
	font-size: 2em;
	color: #785616;
	margin: 0 0 .25em;
}

.results-divider {
	margin: 0 .5em;
}

/*label {
	margin-top: .5em;
}*/

.smaller-margin {
	display: block;
	margin-top: 0;
}

.bordered {
	/*border: .125em solid black;*/
	margin: .5em; 
	/*box-sizing: border-box;*/
	border-radius: .25em;
}

.displayblock {
	display: block;
	/*width: 75%;*/
	margin: .25em 0; 
}

.results-line {
	margin-bottom: 2em;
	/*-webkit-flex-direction: row; */
}

select {
	font-size: 1em;
	border-color: #999;
	width: 100%;
}

input[type=text] {
	font-size: 1em;
	margin-left: .5em;
}

input[type=range] {
	width: 100%;
}

button {
	font-size: 1em;
}

.center {
	margin: auto;
}