	{{#each songs}}
	<div class="song-result">
		<p class="song-name">{{title}}</p>
		<span class="results-line">{{artist}}<span class="results-divider">|</span>{{album}}</span>
		<button class="delete">&times</button>
	</div>
	{{/each}}