	{{#each songs}}
	<div class="song-result" id="{{@key}}">
		<p class="song-name">{{title}}</p>
		<span class="results-line"><span class="results-artist">{{artist}}</span><span class="results-divider">|</span><span class=""results-album>{{album}}</span></span>
		<button class="delete">&times</button>
	</div>
	{{/each}}

	<button class='more'>More</button>