body {
  font-family: sans-serif;
  padding: 0;
  margin: 0; }

nav {
  background: dimgray;
  font-size: 1em;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 1em; }
  nav ul {
    padding: 0 1em 0 1em; }
    nav ul li {
      list-style-type: none;
      display: inline;
      color: white; }
      nav ul li a {
        text-decoration: none;
        color: white; }
      nav ul li a:visited {
        color: white;
        text-decoration: none; }
      nav ul li a:hover {
        color: tomato;
        text-decoration: none; }
    nav ul li:not(:last-child) {
      margin-right: .25em; }

.hidden {
  visibility: hidden; }

.display-none {
  display: none; }

#song-options-div {
  padding: 1em;
  background: white; }

#add-music > div:nth-of-type(2n+1) {
  background: white; }

.add-music-input {
  background: white;
  padding: 1em 0 0 0;
  margin: 0 1em; }

#add-music button {
  margin: 0 auto 1em;
  text-align: center; }

#add-music label {
  margin-bottom: 1em;
  text-align: center; }

#form-add-button {
  background: white;
  border: thin solid tomato;
  outline-color: tomato;
  color: tomato; }

#error-message {
  color: red;
  padding: 1em;
  margin-top: 1em;
  background: pink;
  text-align: center; }

#artists, #albums {
  list-style-type: none;
  color: tomato; }

#artists a, #albums a {
  color: tomato; }

.a-dropdown {
  background: white;
  color: tomato;
  border: 1px solid tomato;
  font-size: 1em;
  outline-color: tomato;
  border-radius: 0;
  margin-bottom: 1em; }

.a-dropdown:focus, .a-dropdown:hover {
  background: tomato;
  color: white;
  border: 1px solid white;
  outline-color: white; }

#genre-title {
  margin: .5em; }

#results {
  background: whitesmoke;
  padding: 1em; }

.song-result {
  padding: .125em .5em .25em; }

.song-name {
  font-size: 2em;
  color: whitesmoke;
  margin: 0; }

.song-result:not(:last-child) {
  margin-bottom: .5em; }

#results .song-result:nth-of-type(2n+1) {
  background: gray; }

#results .song-result:nth-of-type(2n+0) {
  background: darkgray; }

#results .song-result:first-child {
  font-weight: bold;
  background: tomato; }

.results-divider {
  margin: 0 .5em; }

.delete {
  margin-left: 1em;
  font-size: .75em;
  background: whitesmoke;
  color: red;
  border: 1px solid red;
  text-align: center;
  vertical-align: top;
  width: 2em;
  height: 2em;
  line-height: .75em; }

.more, .filter {
  background: white;
  color: tomato;
  border: 1px solid tomato;
  font-size: 1em;
  outline-color: tomato; }

label {
  font-weight: normal; }

.smaller-margin {
  display: block;
  margin-top: 0;
  margin-bottom: .125em; }

.larger-margin {
  display: block;
  margin: 0 auto .5em; }

.larger-margin input[type=checkbox] {
  margin-right: .25em;
  vertical-align: top; }

.smaller-margin input[type=checkbox] {
  margin-right: .25em;
  vertical-align: top; }

.displayblock {
  display: block; }

.results-line {
  margin-bottom: 2em;
  color: white; }

select {
  font-size: 1em;
  border-color: #999;
  width: 100%; }

input[type=text] {
  font-size: 1em;
  border: thin solid tomato;
  outline-color: tomato; }

input[type=text]:focus {
  color: tomato; }

input[type=range] {
  width: 100%; }

button {
  font-size: 1em; }

.center {
  margin: auto; }

.test {
  background: blue; }

.add-music-label {
  font-size: 1.5em;
  text-align: center;
  font-weight: lighter; }

/*@media screen and (max-width: 750px), screen and (max-device-width: 700px) {
	#song-options-div {
		box-sizing: border-box;
		margin: 0 1em;
		float: none;
		font-size: 3em;
	}

	#song-options-div input[type=checkbox] {
		transform: scale(3, 3);
		margin-right: 2em;
	}

	#results {
		margin: 1em 0 0 0;
		clear: both;
		width: 100%;
		box-sizing: border-box;
		font-size: 3em;
	}

	nav ul {
		text-align: center;
		margin: .5em auto;
		font-size: 3em;
		padding: 0;
	}

	#add-music {
		font-size: 3em;
		/*width: auto;
		margin: 0 1em;
	}

	.delete {
		font-size: .75em;
	}
}*/

/*# sourceMappingURL=main.css.map */
